{% extends "base_owner.html" %}

{% block title %}Food List Page{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>


<body style="background-color: #789a5f;">


  
    <div class="container"> 

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddModal">
            Add
        </button>
        
   

                <!-- Button trigger  for update modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UpdateModal">
            Update
        </button>


        <div class="display_form"> 
        
             
            <form action="/food_stock/" method="POST" class="form-container">


    
                
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="query_name">
                </div>
    
                <div class="form-group">
                    <label>Category</label>
                    <select id="category" name="query_category">
                        <option value="">--- Select Category ---</option>
                        <option value="All">All</option>
                        <option value="Dairy">Dairy</option>
                        <option value="Fruits">Fruits</option>
                        <option value="Grain">Grain</option>
                        <option value="Meat">Meat</option>
                        <option value="Seafood">Seafood</option>
                        <option value="Vegetable">Vegetable</option>

                    </select>
                </div>
                <button type="submit" class="submit-btn">Search</button>
            </form>

        </div>

        <div class="table_div">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in stock_list %}
                    <tr>
                      
                        <td>{{ loop.index }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="7" style="text-align: center; font-weight: bold; color: red;">No Data Found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>

<!-- Add Stock Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="addStockModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content shadow-lg rounded-3">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="addStockModalLabel">Add Stock</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-4">
          <form action="/food_stock/add/" method="POST">
            <div class="mb-3">
              <label for="food_name" class="form-label">Name</label>
              <input type="text" name="food_name" class="form-control" id="food_name" required>
            </div>
  
            <div class="mb-3">
              <label for="food_category" class="form-label">Category</label>
              <select class="form-select" id="food_category" name="food_category" required>
                <option value="">--- Select Category ---</option>
                <option value="All">All</option>
                <option value="Dairy">Dairy</option>
                <option value="Fruit">Fruits</option>
                <option value="Grain">Grain</option>
                <option value="Meat">Meat</option>
                <option value="Seafood">Seafood</option>
                <option value="Vegetable">Vegetable</option>
              </select>
            </div>
  
            <div class="mb-3">
              <label for="food_quantity" class="form-label">Quantity</label>
              <input type="number" name="food_quantity" class="form-control" id="food_quantity" required>
            </div>
  
            <div class="mb-3">
              <label for="food_price" class="form-label">Price</label>
              <input type="number" name="food_price" class="form-control" id="food_price" required>
            </div>
  
            <div class="text-end">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer bg-light">
        </div>
      </div>
    </div>
  </div>
  


  <!-- Add Stock Modal -->
<div class="modal fade" id="UpdateModal" tabindex="-1" aria-labelledby="addStockModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content shadow-lg rounded-3">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="addStockModalLabel">Add Stock</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-4">
          <form action="/food_stock/add/" method="POST">
            <div class="mb-3">
              <label for="food_name" class="form-label">Name</label>
              <input type="text" name="food_name" class="form-control" id="food_name" required>
            </div>
  
            <div class="mb-3">
              <label for="food_category" class="form-label">Category</label>
              <select class="form-select" id="food_category" name="food_category" required>
                <option value="">--- Select Category ---</option>
                <option value="All">All</option>
                <option value="Dairy">Dairy</option>
                <option value="Fruit">Fruits</option>
                <option value="Grain">Grain</option>
                <option value="Meat">Meat</option>
                <option value="Seafood">Seafood</option>
                <option value="Vegetable">Vegetable</option>
              </select>
            </div>
  
            <div class="mb-3">
              <label for="food_quantity" class="form-label">Quantity</label>
              <input type="number" name="food_quantity" class="form-control" id="food_quantity" required>
            </div>
  
            <div class="mb-3">
              <label for="food_price" class="form-label">Price</label>
              <input type="number" name="food_price" class="form-control" id="food_price" required>
            </div>
  
            <div class="text-end">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer bg-light">
        </div>
      </div>
    </div>
  </div>


{% if stock_list.has_prev %}
    <a href="{{ url_for('food_list', page=stock_list.prev_num) }}">Previous</a>
{% endif %}

{% if stock_list.has_next %}
    <a href="{{ url_for('food_list', page=stock_list.next_num) }}">Next</a>
{% endif %}
    </div>





{% endblock %}



