<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  <!-- ✅ Correct linking -->

    <style>
    .container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.input-group {
    display: flex;
    gap: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
    </style>
</head>
<body>
    <div class="hero">
        <nav>
            <img src="{{ url_for('static', filename='images/logo.png')}}" class="logo">
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/recipe/'>Recipe</a></li>
                <li><a href='/Book/'>Book</a></li>
                <li><a href='/contact/'>Contact</a></li>
            </ul>

        </nav>
        <div class="row">

            <div class="col">

                <div class="container">
                    <form method="POST">
                        <label for="fname">First name:</label><br>
                        <input type="text" id="first_name" name="first_name" required>
                        <label for="lname">Last name:</label><br>
                        <input type="text" id="last_name" name="last_name" required>
                        <label for="lname">Contact:</label><br>
                        <input type="text" id="contact_name" name="phone_number" required>
                        <label for="lname">Location:</label><br>
                        <input type="text" id="location_name" name="location" required>
                        <label for="lname">Email:</label><br>
                        <input type="email" id="location_name" name="get_email" required>
                        <input type="submit" value="Submit">
                    </form> 
                </div>

        </div>
         
    </div>
</body>
</html>